<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
</head>
<body>
    <p>注册</p>
    <form action="" method="post">
        {% csrf_token %}
        <p>username:<input type="text" name="user"></p>
        <p>password:<input type="password" name="pwd"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>
</html>